ul,ol{list-style:none;}
*{margin:0;padding:0;}
#xxx{
  background: white;
  display: block;
}

body{
  margin: 0px;
  overflow: hidden;
}



.actions{
  position: fixed;
  top: 0;
  left: 0;
  padding:20px; 
  
}
.actions svg{
  transition:all 0.3s;
  margin:0 8px;
}
svg.active{
fill:red;
transform:scale(1.2);
}

.icon {
  width: 1.5em; height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.color{
  position:fixed;
  top:60px;
  left:25px;
  
}
.color li{
  height:20px;
  width:20px;
  box-shadow:0 0 3px rgba(0,0,0,0.25);
  margin:10px 0;
  border-radius:50%;
  transition:all 0.3s;
}
.color> li.red{
  background: red;
}
.color li.green{
  background: green;
}
.color li.blue{
  background: blue;
}
.color li.yellow{
  background: yellow;
}
.color li.active{
  box-shadow:0 0 3px rgba(0,0,0,0.95);
  transform:scale(1.2)
}